.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem 4rem 4rem;
}

.creatorInfo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 0.9rem;
}

.avatar {
    border-radius: 50%;
}

.card {
    width: 100%;
    max-width: 1000px; 
    background-color: rgba(18, 18, 18, 0.7); 
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    padding: 2.5rem;
    position: relative; 
    overflow: hidden; 
}

.card::before {
    content: '';
    position: absolute;
    top: -10%;
    left: -10%;
    width: 400px;
    height: 400px;
    background: radial-gradient(circle, rgba(200, 0, 0, 0.25) 0%, rgba(18, 18, 18, 0) 70%);
    pointer-events: none; 
    z-index: 0;
}

.cardContent {
    display: flex;
    gap: 2.5rem;
    align-items: stretch; 
    position: relative; 
    z-index: 1;
}

.cardSectionLeft {
    flex-shrink: 0; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.profileImage {
    border-radius: 16px;
    background-color: #111;
    object-fit: contain;
}

.cardSectionRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    color: #e0e0e0;
}

.titleContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name {
    font-size: clamp(1.7rem, 3vw, 3rem);
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}

.companyLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #c4c4c4;
    text-decoration: none;
    font-size: clamp(0.7rem, 1vw, 1.5rem);
    transition: color 0.2s ease;
}

.companyLink:hover {
    color: #ffffff;
}

.description {
    font-size: 1rem;
    line-height: 1.6;
    color: #b3b3b3;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin-top: 1rem;
}

.tag {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(255, 0, 0, 0.2);
    color: #ffcccc;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 500;
}

.profileLetter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: clamp(5rem, 2vw, 2.5rem);
    font-weight: 700;
}

.avatarProfileLetter{
    width: 30;
    height: 30;
    border-radius: 50%;
    background-color: rgba(18, 18, 18, 0.7); 
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.primaryButton{
    width: 100px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    background-color: rgba(10, 10, 10, 0.6);
    color: #ae1414;

    border: 1px solid rgba(172, 172, 172, 0.1);
}

.primaryButton:hover {
    background-color: rgba(10, 10, 10, 0.6);
    transform: translateY(-6px);
}

.containerPageNotFound{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
   .cardContent{
    flex-direction: column;
    align-items: center;
   }

   .containerPageNotFound{
    flex-direction: column;
   }

   .containerPageNotFound img{
    width: 375px;
   }
}