body {
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;

  scrollbar-width: thin;
  scrollbar-color: rgba(172, 172, 172, 0.1) rgba(0, 0, 0, 0.6);
}

.pageContainer {
  padding: 2rem 4rem 4rem 4rem;
}

.headerText {
  color: #a0a0a0;
  font-size: clamp(1rem, 2vw, 1rem);
  max-width: 900px;
  margin-bottom: 2rem;
}

.titleRed {
  color: #ae1414;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 2rem;
  justify-items: center;
}